<!-- 组合小车底盘与摄像头与雷达 -->
<robot name="car" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="gazebo_part/calculate.xacro" />
    <xacro:include filename="car_base.urdf.xacro" />
    <xacro:include filename="camera.urdf.xacro" />
    <xacro:include filename="laser.urdf.xacro" />
    <xacro:include filename="sensor/sensor_laser.urdf.xacro" />
    <xacro:include filename="sensor/sensor_motion.urdf.xacro" />
</robot>